https://www.perplexity.ai/search/f9b40ada-565a-4ef9-aba5-3afd8763b3ca

In [3]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.arange(50,70))
s1

0     50
1     51
2     52
3     53
4     54
5     55
6     56
7     57
8     58
9     59
10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int32

In [ ]:
#透過值的選取
#值的搜尋
#mask的技巧,要使用比較運算子得到boolean的資料
mask = s1 >= 60
s1

10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int32

In [8]:
s1[s1 < 60]

0    50
1    51
2    52
3    53
4    54
5    55
6    56
7    57
8    58
9    59
dtype: int32

In [11]:
##DataFrame
data = np.random.randint(50, 101,size=(5,5))
df = pd.DataFrame(data,
            index=["學生1","學生2","學生3","學生4","學生5"],
            columns=["國文","英文","數學","地理","歷史"])

df

     國文  英文  數學  地理  歷史
學生1  66  75  55  74  86
學生2  61  56  55  59  75
學生3  84  92  79  98  88
學生4  64  98  85  54  64
學生5  89  84  79  56  75

In [12]:
#選取歷史>=60
df[df['歷史'] >= 60]

     國文  英文  數學  地理  歷史
學生1  66  75  55  74  86
學生2  61  56  55  59  75
學生3  84  92  79  98  88
學生4  64  98  85  54  64
學生5  89  84  79  56  75

In [13]:
#選取歷史>=60同時數學>=60
#位元邏輯運算子
df[(df['歷史'] >= 60) & (df['數學'] >= 60)]

     國文  英文  數學  地理  歷史
學生3  84  92  79  98  88
學生4  64  98  85  54  64
學生5  89  84  79  56  75